BOT_TOKEN=8590832057:AAGR5Elyd2yligbYcB_v7zE_m43XCpDFY14
BOT_USERNAME=@XcT_x_HostinG_BoT
OWNER_ID=8695276303
OWNER_USERNAME=XcT_xAyOuB
ADMIN_PASSWORD=XcT-x-TeaM-BoT-iS-BesT
SECRET_KEY=change-me-to-random-string
PORT=10000
